<!DOCTYPE html>
<html lang="en" data-ng-app="wtst">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title>Watstock - Intelligent Trading</title>
   <!-- Favicon-->
   <link rel="icon" type="image/png" sizes="32x32" href="app/img/icon/watstock.png">
   <!-- Bootstrap styles-->
   <link rel="stylesheet" href="app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Application styles-->
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <!-- Themes-->
   <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
   <!-- Font styles-->
   <link rel="stylesheet" href="app/css/font-awesome.min.css" data-ng-if="!app.layout.isRTL">
   <!-- Font styles-->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
   <!-- Jquery-->
   <script src="app/js/jquery-1.11.3.min.js"></script>
   <!-- Latest compiled and minified JavaScript-->
   <script src="app/js/bootstrap.js"></script>
   <script src="app/js/highcharts.js"></script>
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed, 'layout-fs': app.useFullLayout, 'hidden-footer': app.hiddenFooter, 'layout-h': app.layout.horizontal, 'aside-float': app.layout.isFloat, 'offsidebar-open': app.offsidebarOpen, 'aside-toggled': app.asideToggled, 'aside-collapsed-text': app.layout.isCollapsedText}">
   <div data-preloader=""></div>
   <div class="wrapper" data-ui-view="" data-autoscroll="false"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
   <!-- Footer Layout-->
   <div class="con_support">
      <h2>Watstock
         <span><i class="fa fa-phone" aria-hidden="true"></i> +91 11100008833</span>
      </h2>
      <div class="support">
         <ul>
            <li><i class="fa fa-volume-up" aria-hidden="true"></i>
            </li>
            <li><i class="fa fa-cog" aria-hidden="true"></i>
            </li>
            <li><i class="fa fa-arrows-alt" aria-hidden="true"></i>
            </li>
            <li><i class="fa fa-comment-o" aria-hidden="true"></i> Support</li>
         </ul>
      </div>
      <!-- support-->
   </div>
</body>

</html>