@font-face {
  font-family: 'OswaldBold';
  src: url('../fonts/Oswald-Bold.eot');
  src: url('../fonts/Oswald-Bold.eot?#iefix') format("embedded-opentype"), url('../fonts/Oswald-Bold.woff') format("woff"), url('../fonts/Oswald-Bold.ttf') format("truetype"), url('../fonts/Oswald-Bold.svg#Oswald-Bold') format("svg");
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'OswaldRegular';
  src: url('../fonts/Oswald-Regular.eot');
  src: url('../fonts/Oswald-Regular.eot?#iefix') format("embedded-opentype"), url('../fonts/Oswald-Regular.woff') format("woff"), url('../fonts/Oswald-Regular.ttf') format("truetype"), url('../fonts/Oswald-Regular.svg#Oswald-Regular') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'OswaldLight';
  src: url('../fonts/Oswald-Light.eot');
  src: url('../fonts/Oswald-Light.eot?#iefix') format("embedded-opentype"), url('../fonts/Oswald-Light.woff') format("woff"), url('../fonts/Oswald-Light.ttf') format("truetype"), url('../fonts/Oswald-Light.svg#Oswald-Light') format("svg");
  font-weight: 300;
  font-style: normal;
}