// top navbar
.tp_nav(ng-include="'app/views/partials/top-navbar.html'")
// sidebar
nav#sidebar.active(ng-include="'app/views/partials/sidebar.html'")
// Right Sidebar
.dashboard_home.all_stock_graph
  .box9g(ui-view='', autoscroll='false', ng-class='app.viewAnimation')
  .box3g(ng-include="'app/views/partials/stock-company.html'")
  .predict(ng-include="'app/views/partials/company-footer.html'")
