<ul class="list-unstyled components" ng-controller="SidebarController as side">
   <li class="active">
      <a href="">
         <span class="ico_img">
            <img src="app/img/icon/icon1.png" />
         </span>
         <span class="tag_title">Home</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon2.png" />
         </span>
         <span class="tag_title">About</span>
      </a>
   </li>
   <li>
      <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
         <span class="ico_img">
            <img src="app/img/icon/icon3.png" />
         </span>
         <span class="tag_title">Pages</span>
      </a>
      <ul class="collapse list-unstyled" id="pageSubmenu">
         <li><a href="#">Page 1</a>
         </li>
         <li><a href="#">Page 2</a>
         </li>
         <li><a href="#">Page 3</a>
         </li>
      </ul>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon4.png" />
         </span>
         <span class="tag_title">Portfolio</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon5.png" />
         </span>
         <span class="tag_title">FAQ</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon6.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon7.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon8.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon9.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon10.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
   <li>
      <a href="#">
         <span class="ico_img">
            <img src="app/img/icon/icon11.png" />
         </span>
         <span class="tag_title">Contact</span>
      </a>
   </li>
</ul>