<div class="companies_data_acc">
   <div class="s_predt">
      <div class="comp_list">
         <div class="comp_accu">
            <span id="comp">Company</span>
            <span id="accu">Accuracy</span>
         </div>
         <!-- comp_accu-->
         <div class="data_ul">
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/app.png" />Apple(APPL)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/amzn.png" />Amazon(AMZN)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/fb.png" />Facebook(FB)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/google.png" />Google(GOOGL)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/nflx.png" />Netflix(NFLX)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/nvda.png" />Navidia(NVDA)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/pcln.png" />Priceline(PCLN)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/tsla.png" />TESLA(TSLA)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <div class="data_list">
               <span class="img_name">
                  <img src="app/img/icon/htsk.png" />Hotstock(HTSK)</span>
               <span class="price_trand">
                  <h5>Price: 98.45%</h5>
                  <h6>Trand: 66.67%</h6>
               </span>
            </div>
            <!-- data_list-->
            <!-- add more list-->
            <span id="more_list">Add More: <a id="add_more" href="#"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
            </span>
         </div>
      </div>
      <!-- comp_list-->
   </div>
</div>