<nav class="navbar navbar-default" ng-controller="TopFormController as top">
   <div class="container-fluid" style="padding-left: 60px;">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header">
         <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" href="#"><img src="app/img/icon/logo.png" /></a>
	    <button type="button" class="navbar-toggle menu-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span> 
	    </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div class="collapse navbar-collapse grid_w" id="bs-example-navbar-collapse-1">
         <div class="dropdown">
            <button class="dropdown-toggle grid_style" type="button" data-toggle="dropdown">Grid Layout :<i class="fa fa-th-large" aria-hidden="true"></i>
            </button>
            <ul class="dropdown-menu grid_ul">
               <li><a href="javascript:" ng-click="top.shorting(1)"><i class="fa fa-square" aria-hidden="true"></i>Single Chart</a>
               </li>
               <li><a href="javascript:" ng-click="top.shorting(2)"><i class="fa fa-square" aria-hidden="true"></i><i class="fa fa-square" aria-hidden="true"></i>Double Charts</a>
               </li>
               <li><a href="javascript:" ng-click="top.shorting(3)"><i class="fa fa-square" aria-hidden="true"></i><i class="fa fa-square" aria-hidden="true"></i><i class="fa fa-square" aria-hidden="true"></i>Three Charts</a>
               </li>
               <li><a href="javascript:" ng-click="top.shorting(4)"><i class="fa fa-th-large" aria-hidden="true"></i> Four Charts</a>
               </li>
               <li><a href="javascript:" ng-click="top.shorting('more')"><i class="fa fa-th" aria-hidden="true"></i> All Charts</a>
               </li>
            </ul>
         </div>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-usd" aria-hidden="true"></i> 997.89 <i class="fa fa-caret-down" aria-hidden="true"></i><span>Practice Account</span></a>
            </li>
            <li><a class="deposit" href="#"><i class="fa fa-usd" aria-hidden="true"></i> Deposit</a>
            </li>
            <!-- START Alert menu-->
            <li class="dropdown dropdown-list" uib-dropdown="">
               <a class="notification" uib-dropdown-toggle="" href="#">
                  <span class="not_sc"><i class="fa fa-bell" aria-hidden="true"></i>
                     <span class="alrt_red">10</span>
                  </span>
               </a>
               <!-- START Dropdown menu-->
               <ul class="dropdown-menu animated flipInX">
                  <li>
                     <!-- START list group-->
                     <div class="list-group">
                        <!-- list item-->
                        <a class="list-group-item" href="">
                           <div class="media-box">
                              <div class="pull-left">
                                 <em class="fa fa-twitter fa-2x text-info"></em>
                              </div>
                              <div class="media-box-body clearfix">
                                 <p class="m0">New followers</p>
                                 <p class="m0 text-muted">
                                    <small>1 new follower</small>
                                 </p>
                              </div>
                           </div>
                        </a>
                        <!-- list item-->
                        <a class="list-group-item" href="">
                           <div class="media-box">
                              <div class="pull-left">
                                 <em class="fa fa-envelope fa-2x text-warning"></em>
                              </div>
                              <div class="media-box-body clearfix">
                                 <p class="m0">New e-mails</p>
                                 <p class="m0 text-muted">
                                    <small>You have 10 new emails</small>
                                 </p>
                              </div>
                           </div>
                        </a>
                        <!-- list item-->
                        <a class="list-group-item" href="">
                           <div class="media-box">
                              <div class="pull-left">
                                 <em class="fa fa-tasks fa-2x text-success"></em>
                              </div>
                              <div class="media-box-body clearfix">
                                 <p class="m0">Pending Tasks</p>
                                 <p class="m0 text-muted">
                                    <small>11 pending task</small>
                                 </p>
                              </div>
                           </div>
                        </a>
                        <!-- last list item-->
                        <a class="list-group-item" href="">
                           <small translate="topbar.notification.MORE">More notifications</small>
                           <span class="label label-danger pull-right">14</span>
                        </a>
                     </div>
                     <!-- END list group-->
                  </li>
               </ul>
               <!-- END Dropdown menu-->
            </li>
            <li class="dropdown pro_admin">
               <a class="user_profile dropdown-toggle" href="#" data-toggle="dropdown">
                  <span class="usr_dp">
                     <img src="app/img/icon/dp.png" />
                  </span>Carl Freer <i class="fa fa-angle-down" aria-hidden="true"></i>
               </a>
               <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
                  </li>
                  <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                  </li>
               </ul>
            </li>
         </ul>
      </div>
      <!-- /.navbar-collapse-->
   </div>
   <!-- /.container-fluid-->
</nav>