<div class="home_graph" ng-controller="TopFormController as top">
   <ul>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/app.png" />AAPL</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/amzn.png" />AMZN</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/fb.png" />FB</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/google.png" />GOOGLE</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/nflx.png" />NFLX</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/nvda.png" />NVDA</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/pcln.png" />PCLN</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/tsla.png" />TSLA</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
      <li class="stockli">
         <div class="w_bg">
            <button class="btn aapl_btn">
               <span class="cross">
                  <img src="app/img/icon/close_l6.png" />
               </span>
               <span class="ttl_img">
                  <img src="app/img/icon/htsk.png" />HTSK</span>
            </button>
         </div>
         <chart xdata="lineChartXData" ydata="lineChartYData" ng-click="top.getdetails();"></chart>
         <div class="button_group">
            <ul>
               <li id="h"><a href="javascript:">H</a>
               </li>
               <li id="s"><a href="javascript:">S</a>
               </li>
               <li id="b"><a href="javascript:">B</a>
               </li>
            </ul>
         </div>
      </li>
   </ul>
</div>