<button class="btn aapl_btn">
   <a href="#">
      <img src="app/img/icon/close_l6.png" />
   </a>
   <span>AAPL</span>
</button>
<button class="btn aapl_btn amzn">
   <a href="#">
      <img src="app/img/icon/close_l6.png" />
   </a>
   <span>AMZN</span>
</button>
<button class="btn aapl_btn fb">
   <a href="#">
      <img src="app/img/icon/close_l6.png" />
   </a>
   <span>FB</span>
</button>
<button class="btn aapl_btn goog">
   <a href="#">
      <img src="app/img/icon/close_l6.png" />
   </a>
   <span>GOOGL</span>
</button>
<button class="btn aapl_btn nvda">
   <a href="#">
      <img src="app/img/icon/close_l6.png" />
   </a>
   <span>NVDA</span>
</button>
<div class="home_graph stock_details">
   <stockchart xdata="lineChartXData" ydata="lineChartYData"></stockchart>
   <div class="button_group">
      <ul>
         <li id="h"><a href="javascript:"><i class="fa fa-pause"></i>Hold</a>
         </li>
         <li id="s"><a href="javascript:"><i class="fa fa-play"></i>Sell</a>
         </li>
         <li id="b"><a href="javascript:"><i class="fa fa-play"></i>Buy</a>
         </li>
      </ul>
   </div>
</div>