.home_graph(ng-controller='TopFormController as top')
  ul
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/app.png')
            | AAPL
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/amzn.png')
            | AMZN
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/fb.png')
            | FB
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/google.png')
            | GOOGLE
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/nflx.png')
            | NFLX
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/nvda.png')
            | NVDA
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/pcln.png')
            | PCLN
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/tsla.png')
            | TSLA
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
    li
      .w_bg
        button.btn.aapl_btn
          span.cross
            img(src='app/img/icon/close_l6.png')
          span.ttl_img
            img(src='app/img/icon/htsk.png')
            | HTSK
      chart(xdata='lineChartXData', ydata='lineChartYData', ng-click='top.getdetails();')
      .button_group
        ul
          li#h
            a(href='javascript:') H
          li#s
            a(href='javascript:') S
          li#b
            a(href='javascript:') B
