button.btn.aapl_btn
  a(href='#')
    img(src='app/img/icon/close_l6.png')
  span AAPL
button.btn.aapl_btn.amzn
  a(href='#')
    img(src='app/img/icon/close_l6.png')
  span AMZN
button.btn.aapl_btn.fb
  a(href='#')
    img(src='app/img/icon/close_l6.png')
  span FB
button.btn.aapl_btn.goog
  a(href='#')
    img(src='app/img/icon/close_l6.png')
  span GOOGL
button.btn.aapl_btn.nvda
  a(href='#')
    img(src='app/img/icon/close_l6.png')
  span NVDA
.home_graph.stock_details
  stockchart(xdata='lineChartXData', ydata='lineChartYData')
  .button_group
    ul
      li#h
        a(href='javascript:')
          i.fa.fa-pause
          | Hold
      li#s
        a(href='javascript:')
          i.fa.fa-play
          | Sell
      li#b
        a(href='javascript:')
          i.fa.fa-play
          | Buy
