/* ========================================================================
   Component: Layout .less
 ========================================================================== */
 /* ========================================================================
   Component: layout.less
 ========================================================================== */

//
// Main layout
// This file controls the presentation of all components
//  .wrapper
//    > section
//      > .content-wrapper
//    > .aside
//
// If modified or removed make sure to check the variable
// shared with other components
// -------------------------------------------------------------

@aside-wd:                                220px;
@aside-wd-collapsed:                      70px;
@aside-wd-collapsed-text:                 90px;
@aside-bg:                                #fff;

@content-bg:                              @body-bg;
@content-heading-bg:                      #fafbfc;
@content-heading-border:                  #cfdbe2;
@content-padding:                         20px;

@footer-hg:                               60px;

@navbar-hg:                               @navbar-height;

@boxed-max-width:                         1140px;
@z-index-main-section:                    111;

/* Watstock Grid */
/* Text Colors */
html {
	height: 100%;
}
body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #333;
}
.page-wrapper {
	height: 100%;
}
.box1g {
	float: left;
	padding: 0 8px;
	width: 8.33333333%;
}
.box2g {
	float: left;
	padding: 0 8px;
	width: 16.66666667%;
}
.box3g {
	float: left;
	padding: 0 8px;
	width: 25%;
}
.box4g {
	float: left;
	padding: 0 8px;
	width: 33.33333333%;
}
.box5g {
	float: left;
	padding: 0 8px;
	width: 41.66666667%;
}
.box6g {
	float: left;
	padding: 0 8px;
	width: 50%;
}
.box7g {
	float: left;
	padding: 0 8px;
	width: 58.33333333%;
}
.box8g {
	float: left;
	padding: 0 8px;
	width: 66.66666667%;
}
.box9g {
	float: left;
	padding: 0 8px;
	width: 75%;
}
.box10g {
	float: left;
	padding: 0 8px;
	width: 83.33333333%;
}
.box11g {
	float: left;
	padding: 0 8px;
	width: 91.66666667%;
}
.box12g {
	float: left;
	padding: 0 8px;
	width: 100%;
}
.colblack {
	color: #000000;
}
.colblue {
	color: #24a3d7;
}
.colred {
	color: #ff5003;
}
.colgrey {
	color: #9e9e9e;
}
.colgreen {
	color: #2bab3f;
}




