/* ========================================================================
   Component: RightBar.less
 ========================================================================== */
 .dashboard_home.multiple {
	button.btn {
		margin-right: 10px;
	}
	button.btn.aapl_btn.amzn {
		span {
			&::before {
				content: "\f270";
				font-family: fontawesome;
				font-size: 20px;
				position: relative;
				top: 2px;
				margin-right: 6px;
				content: "\f270";
				font-family: fontawesome;
				font-size: 20px;
				position: relative;
				top: 2px;
				margin-right: 6px;
			}
		}
	}
	button.btn.aapl_btn.fb {
		span {
			&::before {
				content: "\f09a";
				font-family: fontawesome;
				font-size: 20px;
				position: relative;
				top: 2px;
				margin-right: 6px;
			}
		}
	}
	button.btn.aapl_btn.goog {
		span {
			&::before {
				content: "\f1a0";
				font-family: fontawesome;
				font-size: 20px;
				position: relative;
				top: 2px;
				margin-right: 6px;
			}
		}
	}
	button.btn.aapl_btn.nvda {
		span {
			&::before {
				content: "\f270";
				font-family: fontawesome;
				font-size: 20px;
				position: relative;
				top: 2px;
				margin-right: 6px;
			}
		}
	}
}

.dashboard_home {
	float: left;
	width: 100%;
	padding-left: 75px;
	padding-right: 15px;
	background-color: #f5f5f5;
	height: 100%;
	background-image: url(../img/icon/map_bg.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: 86px 80px;
	transition: all 0.3s ease-in-out;
}
.box12g {
	float: left;
	width: 100%;
}
.dash_nav {
	margin: 15px 0;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}
.btn.aapl_btn {
	background-color: transparent;
	border: 1px solid #e4e4e4;
	color: #9e9e9e;
	float: left;
	span {
		margin-left: 12px;
		position: relative;
		&::before {
			content: "\f179";
			font-family: fontawesome;
			font-size: 20px;
			position: relative;
			top: 2px;
			margin-right: 6px;
		}
		&::after {
			content: "\f0d7";
			font-family: fontawesome;
			font-size: 16px;
			margin-left: 25px;
		}
	}
	a {
		img {
			margin-top: -3px;
		}
	}
}
.top_pt2 {
	display: inline-block;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}
.price_1 {
	display: inline-block;
	float: left;
	border-right: 1px solid #e4e4e4;
	padding-right: 15px;
	margin-right: 15px;
}
.trend_1 {
	display: inline-block;
	float: left;
}

.grid_style {
	float: right;
	margin-top: 10px;
	color: #9e9e9e;
	a {
		margin-left: 4px;
		margin-right: 8px;
	}
}
.home_graph {
	img {
		width: 100%;
	}
}
.predictions_current {
	background-color: #fff;
	padding: 15px;
	background-color: #fff;
	padding: 15px;
	float: left;
}
.head_prediction {
	margin-bottom: 20px;
	a {
		text-align: right;
		float: right;
		margin-top: -1px;
	}
	>span {
		&::after {
			content: "\f179";
			font-family: fontawesome;
			font-size: 18px;
			margin-left: 4px;
			position: relative;
			top: -1px;
		}
	}
}
.s_predt {
	img {
		width: 100%;
	}
}
.current_location {
	float: left;
}
.loc_icon.colgrey {
	&:before {
		content: "";
		background: url(../img/loc.png);
		width: 16px;
		height: 20px;
		display: inline-block;
		background-repeat: no-repeat;
		position: relative;
		top: 4px;
		margin-right: 4px;
	}
}
.current_sentiment {
	float: right;
	>span {
		display: block;
		margin-top: 5px;
	}
	span {
		&:before {
			content: "";
			width: 8px;
			display: inline-block;
			border-top: 8px solid;
			position: relative;
			top: -1px;
			margin-right: 6px;
		}
	}
}
.loc_icon {
	margin-bottom: 4px;
}
.text14 {
	font-size: 14px;
}
.footer_prediction {
	float: left;
	width: 100%;
	margin-top: 20px;
}
/*****************all stockss graphs and Dropdown*************/
.dashboard_home.multiple {
	padding-top: 15px;
}
.all_stock_graph {
	padding-top: 15px;
	.home_graph {
		position: relative;
		ul {
			float: left;
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				width: 47%;
				float: left;
				margin: 0 15px 15px 0;
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
		}
	}
	.home_graph.stock_details {
		.button_group {
			width: 90px;
			right: 25px;
			li {
				a {
					float: left;
					width: 100%;
					text-transform: uppercase;
					padding:10px 15px;
					font-size: 14px;
					font-family: 'Open Sans', sans-serif;
					font-weight: 600;
					i{
					margin-right: 5px;
					}
				}
			}
			li#s{
				a{
					i{
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					}
				}
			}
		}
	}
	h3.ng-scope {
		margin: 0;
	}
}
/*****************right side company accuracy*************/
.companies_data_acc {
	float: left;
	width: 100%;
}
.comp_accu {
	float: left;
	width: 100%;
	padding: 10px 15px;
	background-color: #00aced;
}
span#comp {
	width: 75%;
	float: left;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}
span#accu {
	width: 25%;
	float: left;
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: capitalize;
}
.data_list {
	float: left;
	width: 100%;
	padding: 10px 0px;
	border-bottom: 1px solid #dbdbdb;
}
span.img_name {
	float: left;
	width: 65%;
	height: 28px;
	line-height: 30px;
	color: #9e9e9e;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	img {
		width: 32px;
		float: left;
	}
}
span.price_trand {
	float: right;
	width: 35%;
	line-height: normal;
	h5 {
		margin: 0;
		color: #00aced;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		margin-bottom: 5px;
	}
	h6 {
		margin: 0;
		color: #ff5003;
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
	}
}
.data_ul {
	float: left;
	width: 100%;
	padding: 0 15px;
	background-color: #fff;
	a#add_more {
		float: right;
		color: #9e9e9e;
		font-size: 14px;
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		text-decoration: none;
		i {
			font-size: 20px;
			padding: 0px 0 2px 4px;
			box-shadow: -2px 2px 1px #9e9e9e;
			margin-left: 10px;
		}
	}
}
#more_list {
	float: left;
	width: 100%;
	margin: 20px 0;
	text-align: right;
	color: #9e9e9e;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.home_graph {
	.w_bg {
		float: left;
		width: 100%;
		display: block;
		background: #fff;
		position: absolute;
		top: -5px;
		left: 0;
		padding: 5px 0;
	}
.w_bg {
	button.btn.aapl_btn {
		padding: 0px 5px;
		width: auto;
		float: left;
		border: 0;
		font-size: 10px;
		span.cross {
			float: left;
			margin-left: 3px;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		span.ttl_img{
			&:before{			
				display:none;
			}
			img {
				width: 25px;
			}
		}
		img {
			width: 12px;
		}
	}
}

	.btn.aapl_btn {
		span {
			margin-left: 5px;
			position: relative;
			float: left;
			font-size: 12px;
			&::before {
				font-size: 15px;
				margin-right: 5px;
			}
			&::after {
				font-size: 12px;
				margin-left: 5px;
			}
		}
	}
}
.all_stock_graph {
	.home_graph {
		ul {
			li {
				position: relative;
			}
		}
		.button_group {
			li {
				width: 100%;
				float: left;
				margin: 0;
				margin-bottom: 5px;
				a {
					padding: 3px 10px !important;
					border-radius: 5px;
					color: #fff;
					text-decoration: none;
					font-size: 12px;
					width: 100%;
					float: left;
					text-align: center;
				}
			}
			li#h {
				a {
					background: #f6a821;
				}
			}
			li#s {
				a {
					background: #ff5003;
				}
			}
			li#b {
				a {
					background: #2bab3f;
				}
			}
			position: absolute;
			bottom: 40px;
			right: 75px;
			width: 35px;
		}
	}
}
.home_graph {
	ul {
		li {
			chart{
				margin-top: 25px;
				float: left;
				background: #fff;
			}
		 }
	  }
	}






