/* ========================================================================
   Component: sidebar.less
 ========================================================================== */

.menu-toggle {
	position: absolute;
	left: 0;
	border-right: 1px solid #028bbe;
	height: 100%;
	padding: 14px;
	padding-top: 26px;
}
nav#sidebar {
	ul {
		li {
			a {
				span.ico_img {
					width: 40px;
					text-align: center;
				}
				span.tag_title {
					color: #9e9e9e;
					margin-left: 15px;
					font-size: 15px;
				}
			}
		}
	}
}
nav.active {
	ul {
		li {
			a {
				span.tag_title {
					display: none;
				}
			}
		}
	}
}
button.navbar-toggle.menu-toggle {
	display: block !important;
	border: 1px solid #fff;
	padding: 10px;
	margin: 0;
	height: auto;
	margin-top: 15px;
	margin-left: 15px;
}
#sidebar {
	float: left;
	min-width: 200px;
	max-width: 250px;
	background: #fff;
	color: #fff;
	transition: all 0.3s ease-in-out;
	position: fixed;
	top: 92px;
	min-height: 500px;
	ul {
		li {
			a {
				text-align: left;
				padding: 10px;
				font-size: 1.1em;
				display: block;
				&:hover {
					color: #000;
					background: #fff;
				}
				i {
					margin-right: 10px;
				}
			}
		}
		li.active {
			>a {
				color: #00aced;
				background: #fff;
			}
		}
	}
	.sidebar-header {
		padding: 20px;
		background: #6d7fcc;
		strong {
			display: none;
			font-size: 1.8em;
		}
	}
	ul.components {
		padding: 20px 0 0;
	}
}
#sidebar.active {
	min-width: 60px;
	max-width: 60px;
	text-align: center;
	.sidebar-header {
		strong {
			display: block;
		}
	}
	ul {
		li {
			a {
				padding: 20px 10px;
				text-align: center;
				font-size: 0.85em;
				i {
					margin-right: 0;
					display: block;
					font-size: 1.8em;
					margin-bottom: 5px;
				}
			}
		}
		ul {
			a {
				padding: 10px !important;
			}
		}
	}
	a[aria-expanded="false"] {
		&::before {
			top: auto;
			bottom: 5px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
			color: #9e9e9e;
		}
	}
	a[aria-expanded="true"] {
		&::before {
			top: auto;
			bottom: 5px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
			color: #9e9e9e;
		}
	}
}
a[aria-expanded="true"] {
	color: #00aced;
	background: #fff;
	&::before {
		content: '\e259';
		display: block;
		position: absolute;
		right: 20px;
		font-family: 'Glyphicons Halflings';
		font-size: 0.6em;
		color: #9e9e9e;
		content: '\e260';
	}
}
a[data-toggle="collapse"] {
	position: relative;
}
a[aria-expanded="false"] {
	&::before {
		content: '\e259';
		display: block;
		position: absolute;
		right: 20px;
		font-family: 'Glyphicons Halflings';
		font-size: 0.6em;
		color: #9e9e9e;
	}
}

#content {
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}
@media (max-width: 768px) {
	#sidebar {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important;
		margin-left: 0;
		.sidebar-header {
			h3 {
				display: none;
			}
			strong {
				display: block;
			}
		}
		.CTAs {
			display: none;
		}
		ul {
			li {
				a {
					padding: 20px 10px;
					span {
						font-size: 0.85em;
					}
					i {
						margin-right: 0;
						display: block;
						font-size: 1.3em;
					}
				}
			}
			ul {
				a {
					padding: 10px !important;
				}
			}
		}
	}
	a[aria-expanded="false"] {
		&::before {
			top: auto;
			bottom: 5px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}
	}
	a[aria-expanded="true"] {
		&::before {
			top: auto;
			bottom: 5px;
			right: 50%;
			-webkit-transform: translateX(50%);
			-ms-transform: translateX(50%);
			transform: translateX(50%);
		}
	}
	#sidebar.active {
		margin-left: 0 !important;
	}
	#sidebarCollapse {
		span {
			display: none;
		}
	}
}




