/* ========================================================================
   Component: top-navbar.less
 ========================================================================== */
.tp_nav {
	float: left;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}
.tp_nav {
	.navbar-default {
		.navbar-toggle {
			&:hover {
				background-color: #fff;
				border: 0;
				span {
					background-color: #00aced !important;
				}
			}
			&:focus {
				background-color: #fff;
				border: 0;
				span {
					background-color: #00aced !important;
				}
			}
		}
	}
	button.navbar-toggle.menu-toggle {
		span {
			background-color: #fff !important;
		}
	}
}
.navbar-btn {
	box-shadow: none;
	outline: none !important;
	border: none;
}
i {
	display: inline-block;
}
span {
	display: inline-block;
}

.navbar {
	>.container-fluid {
		.navbar-brand {
			margin-left: 0;
			padding: 15px;
		}
	}
}
.navbar-default {
	background-color: #00aced;
	border-color: #00aced;
	.navbar-nav {
		>li {
			>a {
				margin-left: 15px;
				margin-right: 15px;
				line-height: 18px;
				padding: 4px 0;
				color: #fff;
				font-size: 16px;
				font-weight: normal;
				>span {
					display: block;
					font-size: 14px;
					font-weight: normal;
				}
			}
			>a.deposit {
				background-color: #fff;
				border: 1px solid #0180af;
				border-radius: 2px;
				color: #028bbe;
				padding: 8px 18px;
				margin-top: 4px;
				margin-bottom: 4px;
			}
		}
		>.open {
			>a {
				background: none;
				&:hover {
					background: none;
				}
				&:focus {
					background: none;
				}
			}
		}
	}
}
.navbar {
	border-radius: 0;
	margin: 0;
}
.navbar-nav {
	>li {
		>div.before_ico {
			background-color: #028bbe;
			color: #fff;
			width: 100px;
			height: 50px;
			margin-left: 15px;
			padding: 9px 24px 0 41px;
			display: block;
			line-height: 16px;
			position: relative;
			border-radius: 4px;
			border: 1px solid #0180af;
		}
		>div {
			>span {
				font-size: 12px;
				font-size: 12px;
			}
		}
	}
	margin-top: 12px;
	margin-bottom: 12px;
}
.nav.navbar-nav.navbar-right {
	margin-top: 18px;
	margin-block-end: 0;
}
.amzn_ico {
	&:before {
		content: "\f270";
	}
}
.aapl_ico {
	&:before {
		content: "\f179";
	}
}
.before_ico {
	&:before {
		font-family: Fontawesome;
		position: absolute;
		left: 14px;
		top: 10px;
		font-size: 22px;
	}
}
.close_item {
	position: absolute;
	top: -9px;
	right: -5px;
}
.plus_s {
	padding: 10px;
	margin-left: 5px;
}
.nav {
	>li {
		>a.deposit {
			i {
				margin-right: 4px;
			}
		}
		>a.notification {
			margin-top: 6px;
			position: relative;
			margin-bottom: 5px;
		}
		>a.user_profile {
			padding-top: 0;
			margin-left: 24px;
			.usr_dp {
				display: inline-block;
				margin-right: 10px;
			}
			i {
				margin-left: 4px;
				font-size: 20px;
				position: relative;
				top: 2px;
			}
		}
	}
}
.notification {
	.not_sc {
		i {
			font-size: 28px;
		}
		.alrt_red {
			position: absolute;
			top: -5px;
			background-color: red;
			border-radius: 8px;
			width: 28px;
			height: 16px;
			font-size: 12px;
			border: none;
			line-height: 16px;
			text-align: center;
			box-shadow: none;
			left: 6px;
		}
	}
}
.navbar-collapse.grid_w {
	.dropdown {
		outline: none;
	}
	.grid_style {
		&:hover {
			background: transparent;
			color: #000;
			box-shadow: none;
			border-radius: 0;
			i {
				color: #000;
			}
		}
		&:focus {
			background: transparent;
			color: #000;
			box-shadow: none;
			border-radius: 0;
		}
	}
}
.navbar-collapse.grid_w {
	.grid_style {
		float: left;
		margin-left: 20px;
		margin-top: 20px;
		color: #fff;
		border:0;
		background: none;
		i {
			color: #fff;
			font-size: 20px;
			margin-left: 10px;
		}
	}
	.dropdown {
		float: left;
	}
}
h3.ng-binding.ng-scope {
	margin: 0;
	background: #00aced;
	padding: 6px 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.open {
	>.dropdown-menu {
		display: block;
		background: #1c2030;
	}
}
.dropdown-menu {
	>li {
		>a {
			color: #8d8f97;
			&:hover {
				color: #fff;
				text-decoration: none;
				background-color: #00aced;
			}
			&:focus {
				color: #fff;
				text-decoration: none;
				background-color: #00aced;
			}
		}
	}
	li {
		a {
			i {
				margin-right: 5px;
				color: #8d8f97;
			}
		}
	}
}
.navbar-nav.navbar-right {
	>li.pro_admin {
		>.dropdown-menu {
			background: #00aced;
			border-radius: 0;
			li {
				a {
					color: #fff !important;
					i {
						margin-right: 10px;
						color: #fff !important;
					}
				}
				float: left;
				width: 100%;
				&:hover {
					background: #ccc ! important;
					a {
						color: #000 !important;
						i{
							color: #000 !important;
						}
					}
				}
			}
		}
	}
}
.open {
	>.dropdown-menu.grid_ul {
		display: block;
		background: #00aced;
		border-radius: 0;
		>li {
			>a {
				color: #fff !important;
				&:hover {
					color: #000 !important;
					text-decoration: none;
					background-color: #fff !important;
				}
				&:focus {
					color: #000;
					text-decoration: none;
					background-color: #fff !important;
				}
			}
		}
		li {
			a {
				i {
					margin-right: 5px;
					color: #fff;
				}
				&:hover {
					i {
						color: #000 !important;
					}
				}
			}
		}
	}
}






