.box9g
  .accu_profit
    ul
      li
        h3 Accuracy:
        .inn_li
          h4
            small Price
            span
              | 98.71%
              img(src='app/img/icon/price.png')
          h4
            small Trend
            span
              | 100.00%
              img(src='app/img/icon/trend.png')
        // inn_li
      li
        h3
          | Today Income:
          span
            img(src='app/img/icon/money-bag.png')
        .inn_li
          span#graph
            img.img-responsive(src='app/img/icon/today-in.png')
          .today_last
            span#today
              h4 Today
              h5 $230.00
            span#l_week
              h4 Last Week
              h5 $7980.60
          // today_last
        // inn_li
      li
        h3
          | Stats:
          span
            img(src='app/img/icon/stats.png')
        .inn_li
          h6
            small Bid
            span 73.55
          h6
            small Ask
            span 142.00
          h6
            small High
            span 145.00
          h6
            small Low
            span 142.01
        // inn_li
      li
        h3
          | Advice:
          span
            img(src='app/img/icon/advice.png')
        .inn_li
          a(href='#')
            i.fa.fa-pause(aria-hidden='true')
            | Hold
          p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        // inn_li
  // accu_profit
.box3g
  .profit
    h3 Profit:
    h4 90%
    small +$2.68
