ul.list-unstyled.components(ng-controller='SidebarController as side')
  li.active
    a(href='')
      span.ico_img
        img(src='app/img/icon/icon1.png')
      span.tag_title Home
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon2.png')
      span.tag_title About
  li
    a(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false')
      span.ico_img
        img(src='app/img/icon/icon3.png')
      span.tag_title Pages
    ul#pageSubmenu.collapse.list-unstyled
      li
        a(href='#') Page 1
      li
        a(href='#') Page 2
      li
        a(href='#') Page 3
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon4.png')
      span.tag_title Portfolio
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon5.png')
      span.tag_title FAQ
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon6.png')
      span.tag_title Contact
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon7.png')
      span.tag_title Contact
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon8.png')
      span.tag_title Contact
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon9.png')
      span.tag_title Contact
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon10.png')
      span.tag_title Contact
  li
    a(href='#')
      span.ico_img
        img(src='app/img/icon/icon11.png')
      span.tag_title Contact
