.companies_data_acc
  .s_predt
    .comp_list
      .comp_accu
        span#comp Company
        span#accu Accuracy
      // comp_accu
      .data_ul
        .data_list
          span.img_name
            img(src='app/img/icon/app.png')
            | Apple(APPL)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        .data_list
          span.img_name
            img(src='app/img/icon/amzn.png')
            | Amazon(AMZN)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        .data_list
          span.img_name
            img(src='app/img/icon/fb.png')
            | Facebook(FB)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        .data_list
          span.img_name
            img(src='app/img/icon/google.png')
            | Google(GOOGL)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        .data_list
          span.img_name
            img(src='app/img/icon/nflx.png')
            | Netflix(NFLX)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        .data_list
          span.img_name
            img(src='app/img/icon/nvda.png')
            | Navidia(NVDA)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        .data_list
          span.img_name
            img(src='app/img/icon/pcln.png')
            | Priceline(PCLN)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        .data_list
          span.img_name
            img(src='app/img/icon/tsla.png')
            | TESLA(TSLA)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        .data_list
          span.img_name
            img(src='app/img/icon/htsk.png')
            | Hotstock(HTSK)
          span.price_trand
            h5 Price: 98.45%
            h6 Trand: 66.67%
        // data_list
        // add more list
        span#more_list
          | Add More: 
          a#add_more(href='#')
            i.fa.fa-plus-square(aria-hidden='true')
    // comp_list
