nav.navbar.navbar-default(ng-controller='TopFormController as top')
  .container-fluid(style='padding-left: 60px;')
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      button.navbar-toggle.menu-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#')
        img(src='app/img/icon/logo.png')
    // Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.grid_w
      .dropdown
        button.dropdown-toggle.grid_style(type='button', data-toggle='dropdown')
          | Grid Layout :
          i.fa.fa-th-large(aria-hidden='true')
        ul.dropdown-menu.grid_ul
          li
            a(href='javascript:', ng-click='top.shorting(1)')
              i.fa.fa-square(aria-hidden='true')
              | Single Chart
          li
            a(href='javascript:', ng-click='top.shorting(2)')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              | Double Charts
          li
            a(href='javascript:', ng-click='top.shorting(3)')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              i.fa.fa-square(aria-hidden='true')
              | Three Charts
          li
            a(href='javascript:', ng-click='top.shorting(4)')
              i.fa.fa-th-large(aria-hidden='true')
              |  Four Charts
          li
            a(href='javascript:', ng-click="top.shorting('more')")
              i.fa.fa-th(aria-hidden='true')
              |  All Charts
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#')
            i.fa.fa-usd(aria-hidden='true')
            |  997.89 
            i.fa.fa-caret-down(aria-hidden='true')
            span Practice Account
        li
          a.deposit(href='#')
            i.fa.fa-usd(aria-hidden='true')
            |  Deposit
        // START Alert menu
        li.dropdown.dropdown-list(uib-dropdown='')
          a.notification(uib-dropdown-toggle='', href='#')
            span.not_sc
              i.fa.fa-bell(aria-hidden='true')
              span.alrt_red 10
          // START Dropdown menu
          ul.dropdown-menu.animated.flipInX
            li
              // START list group
              .list-group
                // list item
                a.list-group-item(href='')
                  .media-box
                    .pull-left
                      em.fa.fa-twitter.fa-2x.text-info
                    .media-box-body.clearfix
                      p.m0 New followers
                      p.m0.text-muted
                        small 1 new follower
                // list item
                a.list-group-item(href='')
                  .media-box
                    .pull-left
                      em.fa.fa-envelope.fa-2x.text-warning
                    .media-box-body.clearfix
                      p.m0 New e-mails
                      p.m0.text-muted
                        small You have 10 new emails
                // list item
                a.list-group-item(href='')
                  .media-box
                    .pull-left
                      em.fa.fa-tasks.fa-2x.text-success
                    .media-box-body.clearfix
                      p.m0 Pending Tasks
                      p.m0.text-muted
                        small 11 pending task
                // last list item
                a.list-group-item(href='')
                  small(translate='topbar.notification.MORE') More notifications
                  span.label.label-danger.pull-right 14
              // END list group
          // END Dropdown menu
        li.dropdown.pro_admin
          a.user_profile.dropdown-toggle(href='#', data-toggle='dropdown')
            span.usr_dp
              img(src='app/img/icon/dp.png')
            | Carl Freer 
            i.fa.fa-angle-down(aria-hidden='true')
          ul.dropdown-menu
            li
              a(href='#')
                i.fa.fa-user(aria-hidden='true')
                | My Profile
            li
              a(href='#')
                i.fa.fa-sign-out(aria-hidden='true')
                | Logout
    // /.navbar-collapse
  // /.container-fluid
