.accu_profit {
  float: left;
  width: 100%;
  background-color: #F6F6F6;
  ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      width: 23.7%;
      margin-right: 15px;
      padding: 5px;
      background-color: #fff;
      min-height: 150px;
      box-shadow: 0px 1px 2px 0px #9e9e9e;
      &:last-child {
        margin: 0;
      }
      h3 {
        color: #9e9e9e;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0 0 15px;
      }
      .inn_li h4 {
        margin: 0;
        float: left;
        width: 100%;
        margin-bottom: 10px;
        span img {
          float: right;
        }
      }
      h3 span {
        float: right;
      }
      .inn_li h4 {
        span img {
          margin-top: -5px;
        }
        small {
          float: left;
          width: 100%;
          color: #9e9e9e;
          font-size: 14px;
          font-family: 'Open Sans', sans-serif;
        }
        span {
          font-size: 24px;
          color: #9e9e9e;
          font-family: 'Open Sans', sans-serif;
          font-weight: normal;
        }
      }
    }
  }
}

span {
  &#l_week, &#today {
    float: left;
    width: 50%;
  }
  &#l_week h4, &#today h4 {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #9e9e9e;
  }
  &#l_week h5, &#today h5 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #9e9e9e;
  }
}

.accu_profit ul li .inn_li {
  float: left;
  width: 100%;
  h6 {
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 0;
    float: left;
    width: 100%;
    margin: 0;
    small, span {
      float: left;
      width: 50%;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      color: #9e9e9e;
    }
  }
}

span#graph {
  float: left;
  width: 100%;
}

.accu_profit ul li .inn_li {
  a {
    float: left;
    text-align: center;
    background: #f6a821;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 10px 0;
    i {
      margin-right: 5px;
    }
  }
  p {
    float: left;
    width: 100%;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #9e9e9e;
  }
}

.profit {
  float: left;
  width: 100%;
  box-shadow: 0px 1px 2px 0px #9e9e9e;
  background-color: #fff;
  margin-top: 15px;
  min-height: 150px;
  padding: 5px;
  h3 {
    color: #9e9e9e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  h4 {
    color: #9e9e9e;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
  small {
    color: #2bab3f;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    float: left;
    width: 100%;
  }
}

.con_support {
  float: left;
  width: 100%;
  background-color: #00aced;
  padding: 5px 15px;
  position: fixed;
  bottom: 0;
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    color: #fff;
    float: left;
    margin-top: 10px;
    span {
      margin-left: 15px;
    }
  }
  .support {
    float: right;
    ul {
      list-style: none;
      float: left;
      width: 100%;
      padding: 0;
      margin: 0;
      li {
        float: left;
        padding: 10px 12px 0;
        i {
          color: #fff;
          font-size: 20px;
        }
        &:last-child {
          background-color: #0282b2;
          padding: 7px 15px;
          border-radius: 5px;
          font-family: 'Open Sans', sans-serif;
          font-size: 14px;
          font-weight: normal;
          color: #fff;
        }
      }
    }
  }
}

.predict {
  float: left;
  width: 100%;
  margin-bottom: 60px;
}