/* ========================================================================
    Component: RightBar.scss
 ========================================================================== */
 .dashboard_home.multiple button.btn {
  margin-right: 10px;
  &.aapl_btn {
    &.amzn span::before {
      content: "\f270";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
      content: "\f270";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
    &.fb span::before {
      content: "\f09a";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
    &.goog span::before {
      content: "\f1a0";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
    &.nvda span::before {
      content: "\f270";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
  }
}
.dashboard_home {
  float: left;
  width: 100%;
  padding-left: 75px;
  padding-right: 15px;
  background-color: #f5f5f5;
  height: 100%;
  background-image: url(../img/map_bg.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 86px 80px;
}

/* Dashboard nav */

.box12g {
  float: left;
  width: 100%;
}

.dash_nav {
  margin: 15px 0;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn.aapl_btn {
  background-color: transparent;
  border: 1px solid #e4e4e4;
  color: #9e9e9e;
  float: left;
  span {
    margin-left: 12px;
    position: relative;
    &::before {
      content: "\f179";
      font-family: fontawesome;
      font-size: 20px;
      position: relative;
      top: 2px;
      margin-right: 6px;
    }
    &::after {
      content: "\f0d7";
      font-family: fontawesome;
      font-size: 16px;
      margin-left: 25px;
    }
  }
  a img {
    margin-top: -3px;
  }
}

.top_pt2 {
  display: inline-block;
  float: left;
  margin-left: 20px;
  margin-top: 4px;
}

.price_1, .trend_1 {
  display: inline-block;
  float: left;
}

.price_1 {
  border-right: 1px solid #e4e4e4;
  padding-right: 15px;
  margin-right: 15px;
}

.current_price, .current_trend {
  display: inline-block;
  color: #9e9e9e;
  font-size: 14px;
  float: left;
  margin-right: 15px;
}

.current_price span {
  display: block;
  font-size: 16px;
  color: #00aced;
}

.current_trend span {
  display: block;
  color: #ff5003;
  font-size: 16px;
}

.current_price + img, .current_trend + img {
  margin-top: 6px;
}

.grid_style {
  float: right;
  margin-top: 10px;
  color: #9e9e9e;
  a {
    margin-left: 4px;
    margin-right: 8px;
  }
}

/* Home Graph */

.home_graph img {
  width: 100%;
}

/* Predction section */

.predictions_current {
  background-color: #fff;
  padding: 15px;
}

.head_prediction {
  margin-bottom: 20px;
  a {
    text-align: right;
    float: right;
    margin-top: -1px;
  }
  > span::after {
    content: "\f179";
    font-family: fontawesome;
    font-size: 18px;
    margin-left: 4px;
    position: relative;
    top: -1px;
  }
}

.s_predt img {
  width: 100%;
}

.current_location {
  float: left;
}

.loc_icon.colgrey:before {
  content: "";
  background: url(../img/loc.png);
  width: 16px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.current_sentiment {
  float: right;
  > span {
    display: block;
    margin-top: 5px;
  }
}

.loc_icon {
  margin-bottom: 4px;
}

.text14 {
  font-size: 14px;
}

.predictions_current {
  background-color: #fff;
  padding: 15px;
  float: left;
}

.current_sentiment span:before {
  content: "";
  width: 8px;
  display: inline-block;
  border-top: 8px solid;
  position: relative;
  top: -1px;
  margin-right: 6px;
}

.footer_prediction {
  float: left;
  width: 100%;
  margin-top: 20px;
}
/*****************all stockss graphs and Dropdown*************/

.dashboard_home.multiple {
  padding-top: 15px;
}

.all_stock_graph {
  padding-top: 15px;
  .home_graph ul {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      width: 32%;
      float: left;
      margin: 0 15px 15px 0;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.navbar-collapse.grid_w {
  .grid_style {
    float: left;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    i {
      color: #fff;
      font-size: 20px;
      margin-left: 10px;
    }
  }
  .dropdown {
    float: left;
  }
}

.all_stock_graph h3.ng-scope {
  margin: 0;
}

h3.ng-binding.ng-scope {
  margin: 0;
  background: #00aced;
  padding: 6px 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.open > .dropdown-menu {
  display: block;
  background: #1c2030;
}

.dropdown-menu {
  > li > a {
    color: #8d8f97;
    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
      background-color: #00aced;
    }
  }
  li a i {
    margin-right: 5px;
    color: #8d8f97;
  }
}

/*****************all stockss graphs and Dropdown*************/
/*****************right side company accuracy*************/
.companies_data_acc {
  float: left;
  width: 100%;
}

.comp_accu {
  float: left;
  width: 100%;
  padding: 10px 15px;
  background-color: #00aced;
}

span {
  &#comp {
    width: 75%;
    float: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
  }
  &#accu {
    width: 25%;
    float: left;
    color: #fff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    text-transform: capitalize;
  }
}

.data_list {
  float: left;
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #dbdbdb;
}

span {
  &#img_name {
    float: left;
    width: 65%;
    height: 28px;
    line-height: 30px;
  }
  &#price_trand {
    float: left;
    width: 35%;
    line-height: normal;
    h5 {
      margin: 0;
      color: #00aced;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
    h6 {
      margin: 0;
      color: #ff5003;
      font-size: 12px;
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
    }
  }
}

.data_ul {
  float: left;
  width: 100%;
  padding: 0 15px;
  background-color: #fff;
}

span#img_name {
  color: #9e9e9e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  i {
    margin-right: 10px;
    font-size: 18px;
  }
}

#more_list {
  float: left;
  width: 100%;
  margin: 20px 0;
  text-align: right;
  color: #9e9e9e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.data_ul a#add_more {
  float: right;
  color: #9e9e9e;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  text-decoration: none;
  i {
    font-size: 20px;
    padding: 0px 0 2px 4px;
    box-shadow: -2px 2px 1px #9e9e9e;
    margin-left: 10px;
  }
}
