/* ========================================================================
     Component: Layout.scss
 ========================================================================== */
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
}

.page-wrapper {
  height: 100%;
}

/* Watstock Grid */

.box1g, .box2g, .box3g, .box4g, .box5g, .box6g, .box7g, .box8g, .box9g, .box10g, .box11g, .box12g {
  float: left;
  padding: 0 8px;
}

.box1g {
  width: 8.33333333%;
}

.box2g {
  width: 16.66666667%;
}

.box3g {
  width: 25%;
}

.box4g {
  width: 33.33333333%;
}

.box5g {
  width: 41.66666667%;
}

.box6g {
  width: 50%;
}

.box7g {
  width: 58.33333333%;
}

.box8g {
  width: 66.66666667%;
}

.box9g {
  width: 75%;
}

.box10g {
  width: 83.33333333%;
}

.box11g {
  width: 91.66666667%;
}

.box12g {
  width: 100%;
}

/* Text Colors */

.colblack {
  color: #000000;
}

.colblue {
  color: #24a3d7;
}

.colred {
  color: #ff5003;
}

.colgrey {
  color: #9e9e9e;
}

.colgreen {
  color: #2bab3f;
}



