/* ========================================================================
     Component: sidebar
 ========================================================================== */
.menu-toggle {
  position: absolute;
  left: 0;
  border-right: 1px solid #028bbe;
  height: 100%;
  padding: 14px;
  padding-top: 26px;
}

.navbar > {
  .container .navbar-brand, .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

.aside_left {
  position: fixed;
  top: 76px;
  background-color: #fff;
  height: 100%;
  width: 60px;
  border-right: 1px solid #e4e4e4;
  overflow: auto;
  padding-bottom: 100px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
    height: 100%;
    margin-right: -16px;
  }
  li {
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    height: 64px;
    line-height: 64px;
    &.active a {
      border-left: 3px solid #00aced;
    }
  }
  a {
    display: block;
    text-align: center;
    margin: 0px;
    transition: all 0.2s ease-in;
    &:hover {
      background-color: #ededed;
    }
  }
  li.active a:hover {
    background-color: transparent;
  }
}

