/* ========================================================================
     Component: top-navbar
 ========================================================================== */

.tp_nav {
  float: left;
  width: 100%;
}

.navbar-default {
  background-color: #00aced;
  border-color: #00aced;
}

.navbar {
  border-radius: 0;
  margin: 0;
}

.navbar-nav {
  > li > div.before_ico {
    background-color: #028bbe;
    color: #fff;
    width: 100px;
    height: 50px;
    margin-left: 15px;
    padding: 9px 24px 0 41px;
    display: block;
    line-height: 16px;
    position: relative;
    border-radius: 4px;
    border: 1px solid #0180af;
  }
  margin-top: 12px;
  margin-bottom: 12px;
}

.nav.navbar-nav.navbar-right {
  margin-top: 18px;
  margin-block-end: 0;
}

.amzn_ico:before {
  content: "\f270";
}

.aapl_ico:before {
  content: "\f179";
}

.before_ico:before {
  font-family: Fontawesome;
  position: absolute;
  left: 14px;
  top: 10px;
  font-size: 22px;
}

.navbar-nav > li > div > span {
  font-size: 12px;
  font-size: 12px;
}

.close_item {
  position: absolute;
  top: -9px;
  right: -5px;
}

.plus_s {
  padding: 10px;
  margin-left: 5px;
}

.navbar-default .navbar-nav > li > a {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 18px;
  padding: 4px 0;
  color: #fff;
  > span {
    display: block;
    font-size: 12px;
  }
  &.deposit {
    background-color: #fff;
    border: 1px solid #0180af;
    border-radius: 2px;
    color: #028bbe;
    padding: 8px 18px;
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.nav > li > a {
  &.deposit i {
    margin-right: 4px;
  }
  &.notification {
    margin-top: 6px;
    position: relative;
    margin-bottom: 5px;
  }
}

.navbar-default .navbar-nav > li > a > span {
  display: block;
  font-size: 12px;
}

.notification .not_sc {
  i {
    font-size: 28px;
  }
  .alrt_red {
    position: absolute;
    top: -5px;
    background-color: red;
    border-radius: 8px;
    width: 28px;
    height: 16px;
    font-size: 12px;
    border: none;
    line-height: 16px;
    text-align: center;
    box-shadow: none;
    left: 6px;
  }
}

.nav > li > a.user_profile {
  padding-top: 0;
  margin-left: 24px;
  .usr_dp {
    display: inline-block;
    margin-right: 10px;
  }
  i {
    margin-left: 4px;
    font-size: 20px;
    position: relative;
    top: 2px;
  }
}


